@import "@material/top-app-bar/mdc-top-app-bar";
@import "@material/drawer/mdc-drawer";
@import "@material/list/mdc-list";
@import "@material/layout-grid/mdc-layout-grid";
@import "@material/card/mdc-card";
@import "@material/button/mdc-button";

body {
    height: 100vh;
    margin: 0;
}

.mdc-drawer-app-content {
    position: relative;
}

.main-content {
    overflow: auto;
    height: 100%;
}

.app-bar {
    position: absolute;
}

.summary {
    margin-top: 3em;
    margin-bottom: 3em;
}

.my-card {
    margin: 48px 0;
}

.my-card__primary {
    padding: 1rem 1rem 0 1rem;
}

.my-card__title {
}

.my-card__subtitle {
    @include mdc-theme-prop(color, text-secondary-on-background);
}

.my-card__secondary {
    @include mdc-theme-prop(color, text-secondary-on-background);

    padding: 0 1rem 8px 1rem;
}
