@import "@material/top-app-bar/mdc-top-app-bar";
@import "@material/drawer/mdc-drawer";
@import "@material/list/mdc-list";
@import "@material/layout-grid/mdc-layout-grid";
@import "@material/card/mdc-card";
@import "@material/button/mdc-button";

body {
    height: 100vh;
    margin: 0;
    font-size: 16px;
}

.mdc-drawer-app-content {
    position: relative;
}

.main-content {
    overflow: auto;
    height: 100%;
}

.app-bar {
    position: absolute;

    .mdc-top-app-bar__title {
      color: inherit;
    }
}

.mdc-drawer {
  .mdc-drawer__title {
    a {
      color: inherit;
      text-decoration: none;
    }
  }
}

.summary {
    margin-top: 3em;
    margin-bottom: 3em;
}

.my-card {
    margin: 48px 0;
}

.my-card__primary {
    padding: 2rem 2rem 0 2rem;
}

.my-card__title {
  font-size: 1.7rem;
}

.my-card__subtitle {
    @include mdc-theme-prop(color, text-secondary-on-background);
}

.my-card__secondary {
    @include mdc-theme-prop(color, text-secondary-on-background);

    padding: 0 2rem 1rem 2rem;
}

.my-card__secondary-single {
  padding: 0 2rem 1rem 2rem;
}

.my-card__actions {
  padding: 0 1.3rem 1rem 1.3rem;
}

#my-disqus {
  padding: 0 2rem 2.2rem 2rem;
}

table {
  margin-left: auto;
  margin-right: auto;
  margin-top: 4rem;
  margin-bottom: 4rem;
  border-top: 1.8px solid black;
  border-bottom: 1.8px solid black;
  border-collapse: collapse;

  caption {
    margin-bottom: 1.5rem;
    font-size: 1.1rem;
    font-weight: bold;
  }

  thead {
    border-bottom: 1.2px solid black;

    tr {
      line-height: 2.5em;
    }

    th {
      text-align: left;
    }

    th:not(:last-child) {
      padding-right: 2em;
    }
  }

  tbody {
    tr {
      line-height: 2em;

      td:not(:last-child) {
        padding-right: 2em;
      }
    }
  }
}

h1 {
  font-size: 1.6rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.4rem;
}

h4 {
  font-size: 1.3rem;
}

h5 {
  font-size: 1.2rem;
}

h6 {
  font-size: 1.1rem;
}
